body {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   margin: 0;
   background-color: #FFFFFF;
}

.botonvol {
   text-decoration: none;
   margin-top: 5px;
   margin-left: 10px;
   margin-bottom: 5px;
   position: relative;
   padding: 8px;
   text-align: center;
   background-color: #d08014 !important;
   color: #FFFFFF;
   border: 0;
   border-radius: 35px;
   width: 150px;
   height: auto;
   z-index: 1;
   font-size: 18px;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   cursor: pointer;
}

@media screen and (max-width: 768px) {
  .botonvol {
   margin-top: 0;
   border-radius: 0;
   margin-left: 0;
   width: 100%;
  }
}

@media screen and (min-width: 480px) {
   .botonvol {
      margin-top: 0;
      border-radius: 0;
      margin-left: 0;
      width: 100%;
   }
 }




.texto {
   text-align: center;
   font-size: 27px;
   margin: auto;
   padding-bottom: 20px;
   color: #000000;
   position: relative;
   right: 10%;
}

.texto2 {
   font-size: medium;
   position: relative;
   margin: 10px;
   color: #FFFFFF;
}

.texto3 {
   font-size: small;
   position: relative;
   margin: auto;
   color: #000000;
   padding-bottom: 5px;
}

.formulario1 {
   background-color: #FFFFFF;
   width: 50%;
   height: 900px;
   left: 30%;
   padding: 20px;
   align-content: center;
   align-items: center;
   margin: auto;
   align-items: center;
   position: absolute;
   color: black;
   padding-bottom: 8px;
   outline: none;
}

.texttarea {
   background-color: #FFFFFF;
   color: #000000;
   text-align: start;
   position: relative;
   margin: auto;
   font-size: 15px;
   border: 0;
   border-radius: 5px;
   outline: none;
   resize: none;
   padding-right: 15px;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   width: 97%;
}

.texttarea:focus::placeholder {
   color: transparent;
   transition: 0.3s;
}


.email {
   background-color: #FFFFFF;
   color: #000000;
   border: 0;
   padding: 15px;
   width: 40%;
}

.botonenv {
   position: relative;
   margin-top: 20px;
   background-color: #d08014 !important;
   color: #FFFFFF !important;
   border: 0;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 7px;
   text-align: center;
   cursor: pointer;
   border-radius: 35px;
}


.botonreset {
   display: inline-block;
   background-color: #0D64A3 !important;
   color: #FFFFFF!important;
   border: 0;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 20px;
   margin-bottom: 7px;
   text-align: center;
   top: 20px;
   left: 30%;
   cursor: pointer;
   border-radius: 35px;
}


.legendtxt {
   color: black;
   font-size: larger;
}

#timer {
   color: #FFFFFF !important;
   background-color: #0a4a77 !important;
   border-top: #FFFFFF;
   border-color: #FFFFFF;
   border: 1px;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   width: 100px;
   margin-bottom: 3px;
   margin: 0;
   padding: 10px;
   font-size: medium;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   position: fixed;
   text-align: center;
}

header {
   background-color: #0D64A3;
   max-width: 100%;
   width: auto;
}

.welcome {
   text-align: center;
   position: relative;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   color: #FFFFFF;
   background-color: #0D64A3;
   left: 54%;
   transform: translateX(-52%);
   z-index: 1;
   top: -10px;
   width: 30%;
}

#fechaActual[type="date"] {
   appearance: none;
   color: #000000;
   font-size: 15px;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   border: 1px solid #CEC9C9;
   border-radius: 0;
   background: #C9C6C6;

}

.selectemail {
   background: #C9C6C6;
   font-size: 17px;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   border-radius: 0;
   border: 0;
   width: 100%;
}
