body {
   margin: 0;
   background-color: #FFFFFF;
}

header {
   width: auto;
   background-color: #0D64A3;
   padding: 1.5625em;
   margin-bottom: 5%;
}

.textwelcome {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 4vw;
   /* se utiliza vw para el tamaño de fuente */
   text-align: center;
   margin: 0;
   position: relative;
   color: black !important;
   max-width: 1200px;
   /* ancho máximo del contenedor */
   min-width: 320px;
   /* ancho mínimo del contenedor */
   margin: 0 auto;
   /* centrar horizontalmente */
}

#current_date {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 2vw;
   /* se utiliza vw para el tamaño de fuente */
   text-align: center;
   margin: 0;
   position: relative;
   color: #000000 !important;
   max-width: 1200px;
   /* ancho máximo del contenedor */
   min-width: 320px;
   /* ancho mínimo del contenedor */
   margin: 0 auto;
   /* centrar horizontalmente */
}

.subtxt {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 2vw;
   /* se utiliza vw para el tamaño de fuente */
   text-align: center;
   margin: 0;
   position: relative;
   color: #000000 !important;
   max-width: 1200px;
   /* ancho máximo del contenedor */
   min-width: 320px;
   /* ancho mínimo del contenedor */
   margin: 0 auto;
   /* centrar horizontalmente */
}

.buttonl {
   margin-top: 1.875em;
   font-weight: 600;
   font-size: 1.4vw;
   /* se utiliza vw para el tamaño de fuente */
   background-color: #d08014 !important;
   border: 0;
   padding: 1.25em 4.375em;
   /* se utiliza em para el padding */
   cursor: pointer;
   text-decoration: none;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   text-align: center;
   border-radius: 2.1875em;
   color: #FFFFFF !important;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

/* se utiliza una media query para hacer ajustes en resoluciones menores */
@media only screen and (max-width: 768px) {
   .textwelcome {
      font-size: 6vw;
   }

   #current_date {
      font-size: 3vw;
   }

   .subtxt {
      font-size: 3vw;
   }

   .buttonl {
      font-size: 2.4vw;
      padding: 1.25em 2.1875em;
   }
}

.mensaje-exito.transicion {
   color: #FFFFFF;
   background-color:#00C721;
   border-radius: 2.1875em;
   text-align: center;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 1.548vw;
   padding-top: 0.625em;
   padding-left: 1.875em;
   padding-right: 1.875em;
   position: fixed;
   top: -100px;
   left: 39%;
   animation: mostrar-mensaje 1s forwards, ocultar-mensaje 1s forwards 3s;
}

@keyframes mostrar-mensaje {
   0% {
      top: -100px;
   }

   100% {
      top: 0;
   }
}

@keyframes ocultar-mensaje {
   0% {
      top: 0;
   }

   100% {
      top: -100px;
   }
}


footer {
   width: 100%;
   background-color: #2264A7;
   margin-top: 16%;
   bottom: 0;
   margin-bottom: 0;
   position: fixed;
}

.imgfooter {
   max-width: 100%;
   height: 110px;
   border: 0;
   border-style: none;
   position: relative;
   left: 50%;
   transform: translateX(-50%)
}

.registroincidente {
   background-color: #d08014 !important;
   color: #FFFFFF !important;
   position: relative;
   left: 75%;
   top: 1%;
   border-radius: 2.1875em;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 18px;
   padding: 9px;
   border: 0;
   margin: 0;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
}

@media screen and (max-width: 768px) {
   .registroincidente {
      left: 45%;
      font-size: 18px;
      padding: 7px;
   }
}

@media screen and (max-width: 480px) {
   .registroincidente {
      left: 45%;
      font-size: 16px;
      padding: 6px;
   }
}

.registodo {
   background-color: #d08014 !important;
   color: #FFFFFF !important;
   position: relative;
   left: 43%;
   top: 1%;
   border-radius: 2.1875em;
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-size: 18px;
   padding: 9px;
   border: 0;
   margin: 0;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
}

@media screen and (max-width: 768px) {
   .registodo {
      left: -49%;
      font-size: 18px;
      padding: 7px;
   }
}

@media screen and (max-width: 480px) {
   .registodo {
      left: -49%;
      font-size: 16px;
      padding: 6px;
   }
}
@media screen and (max-width: 1024px) {
   .registodo {
      left: 35%;
      font-size: 18px;
      padding: 10px;
   }
}

@media screen and (max-width: 375px) {
   .registodo {
      left: -3%;
      top: -29px;
      font-size: 16px;
      padding: 6px;
   }
}

@media screen and (max-width: 414px) {
   .registodo {
      left: -50%;
      font-size: 16px;
      padding: 6px;
   }
}


 




  
  

  



