body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
  }

  .botonvolver {
    text-decoration: none;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    padding: 8px;
    text-align: center;
    background-color: #d08014 !important;
    color: white;
    border: 0;
    border-radius: 35px;
    width: 10%;
    z-index: 1;
    font-size: 15px;
    font-family:  "Open Sans", Helvetica, Arial, sans-serif;;
    cursor: pointer;
 }

 header {
    background-color: #0D64A3;
    max-width: 100%;
    width: auto;
    min-width: 960px;
 }

 .text1 {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;


 }

 .form2 {
    background-color: white;
    width: 500px;
    height: 300px;
    left: 30%;
    padding: 20px;
    align-content: center;
    align-items: center;
    margin: auto;
    align-items: center;
    position: absolute;
    color: black;
    outline: none;
 }

 .btonbuscar {
    position: absolute;
    left: 37%;
    margin-top: 20px;
    background-color: #d08014 !important;
    color: white !important;
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 7px;
    text-align: center;
    cursor: pointer;
    border-radius: 35px;
 }

 .text_fechaini {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: black!important;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 17%;

 }

 #fecha_inicio[type="date"]{
    appearance: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    display: inline-block ;
    position: absolute;
    top: 38px;
    left: 10%;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 0;
    background: rgb(223, 220, 220);
    color: black;
 
 }

 .text_fechafin {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: black!important;
    font-size: 18px;
    position: absolute;
    left: 63%;
    top: 19px;
    margin-bottom: 3px;
 }

 #fecha_fin[type="date"] {
    
    appearance: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    display: inline-block ;
    position: absolute;
    top: 38px;
    left: 55%;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 0;
    background: rgb(223, 220, 220);
    color: black;
 }

 #texto2 {
    position:relative;
 }

.registros {
    width: 489px;
    text-align:start;
    position: absolute;
    top: 40%;
    left: 22px;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0;
    padding-right: 5px;
    background-color: rgb(223, 220, 220);

}

.dwexcel {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   position: absolute;
   top: 107%;
   margin-top: 10px;
   background-color: #00733b !important;
   color: white !important;
   border: 0;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 7px;
   text-align: center;
   cursor: pointer;
   border-radius: 35px;
}

.xlsico {
   width: 20px;
   height:18px;
   margin-left: 3px;



}

